@font-face {
    font-family: Knockout;
    src: url('fonts/Knockout-HTF47-Bantamweight.otf');
}

@font-face {
    font-family: ClanOT-Bold;
    src: url('fonts/ClanOT-Bold.otf');
}
@font-face {
    font-family: ClanOT-Book;
    src: url('fonts/ClanOT-Book.otf');
}
@font-face {
    font-family: ClanOT-Black;
    src: url('fonts/ClanOT-Black.otf');
}


html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;

}

/* Layout */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -105px;
    /* Pad bottom by footer height */
    padding: 0 0 105px;

}
.
/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Source Sans Pro', sans-serif;
}
/* General Links */
a {
    color: #fff;
}
a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    color: #fff;
}




/*
 * Component: Main Header
 * ----------------------
 */
.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
    padding-top: 20px;
}

.main-header .navbar{
    margin: 0px;
    border-color:#111;

}
.main-header , .main-header > nav{
    background-color: #111;
}
#navbar2 ul > li > a {
    font-family: ClanOT-Bold;

    color:#000;

}
@media screen and (min-width: 750px) {
    .navbar-header{
        width: auto;
    }

    .headerDivider {
        border-left: 1px solid #fff;
        margin-top: 20px;
        height: 20px;
    }
    #navbar ul > li > a {
        padding-top:20px ;
        padding-left:6px;
        padding-right:6px;
        font-size: 12px;
    }
    .md-20percent-specification-acces{
        width: 20% !important;
    }
    #navbar2 ul > li > a {
        padding-top:40px ;
        padding-bottom: 0px;
        padding-left:25px;
        padding-right:25px;
        font-size: 14px;
    }
    #navbar2 ul > li > a {
        font-family: ClanOT-Bold;

        color:#000;

    }
    .headerDivider2 {
        border-left: 1px solid #000;
        margin-top: 20px;
        height: 40px;
    }
}

#navbar ul > li > a {
    font-weight: bold;
    color:#fff;

}
/*
#navbar2 ul > li > a {
    padding-top:40px ;
    padding-bottom: 0px;
    padding-left:75px;
    padding-right:75px;
    font-size: 14px;
}

.headerDivider2 {
    border-left: 1px solid #000;
    margin-top: 20px;
    height: 40px;
}
*/
@media screen and (min-width: 1000px) {
    .navbar-header {
        width: 100px;
    }

    .headerDivider {
        border-left: 1px solid #fff;
        margin-top: 14px;
        height: 25px;
    }

    #navbar ul > li > a {
        padding-left: 12px;
        padding-right: 12px;
        font-size: 14px;
    }

    #navbar2 ul > li > a {
        padding-top:40px ;
        padding-bottom: 0px;
        padding-left:45px;
        padding-right:45px;
        font-size: 14px;
    }
}
@media screen and (min-width: 1200px) {
    .navbar-header {
        width: 200px;
    }

    .headerDivider {
        border-left: 1px solid #fff;
        margin-top: 14px;
        height: 25px;
    }

    #navbar ul > li > a {
        padding-left: 18px;
        padding-right: 18px;
        font-size: 14px;
    }
    #navbar2 ul > li > a {
        padding-top:40px ;
        padding-bottom: 0px;
        padding-left:75px;
        padding-right:75px;
        font-size: 14px;
    }
}



li.actives {
    background: #333;
}



.textHeader {
    background: #808080;
    padding-top: 20px;
    padding-left: 50px;
    font-weight: 300;
    color: #000;
    font-family: Knockout;
    text-align: left;
    font-size:40px;
}


#textHome{
    font-family: ClanOT-Book;
    float: left; color: #FFF; font-size: 40px; padding-left: 50px; padding-top: 70px;  position: absolute;
}
#imageHome {
    height: 671px;
    width: 100%;
}
_:-moz-tree-row(hover), #imageHome {
    height: 694px;
    width: 100%;
}

/**
* Producte Specs
**/
.proSpecHeaderTxt{
    font-family: ClanOT-Black;
}

/**
* Product Documents
**/
.proDocTbl th{
    font-family: ClanOT-Bold;
    font-size: 11px;
    padding: 20px;
    background: #000;
    color: #FFF;
    border-left: solid  #CCCCCC  ;
}
.proDocTbl td{
    font-family: ClanOT-Bold;
    text-align: center;
    padding: 10px;
    border: solid #CCCCCC  ;
}

.proDocTbl td.grey{
    background: #B7B7B9 ;
}.proDocTbl td.blackgrey{
    background: #A0A0A2 ;
}

/*+
* Footer
**/
.footerBox {

    height: 60px;
}


#footerDivider {
    background: #808080;
    height: 20px;
    margin-right: 0px;
}

#footerLogo {
   padding-left: 45px;
}

#footerContacts{
    color: #646464;
}

#footerContacts span{
    color: #fff;
    font-weight: 600;
}
#footerBar{
    padding:30px 15px 15px 15px;
    margin-right: 0px;
    background: #111111;

}

/**
* Products
**/
#productList{
    padding-top: 20px;
}

#productList .row > .productBoxLast{
    margin-left: 0px;
    margin-right: 0px;
}
#productList .row > .productBox {
    margin-left: 0px;
    margin-right: 0px;
}

.productBox{

    width: 238px;
}
.productBox .container-fluid{
    padding: 0;
    margin: 0;
}

.productBox .imgProBox{
    padding: 0;
    margin: 0;
    height: 260px;
}

.imgProBox img{
    width: 238px;
    height: 260px;
}

.rowSpacer{
    padding-top: 20px;
}
.productBox .txtProBox{
    width:238px;
    background: #000;
    color:#fff;
    padding: 10px;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    height: 40px;
}

/**
* Product Description Boxes
**/
.prodDescBox{

}
.prodDescBox .proDescContainer{
    padding-left: 0px; padding-right: 0px;
}
.proDescHeader{
    background: #000; color: #FFF;  padding: 5px 5px 5px 20px; font-weight: bold;
    font-size: 14px;
}
.proDescHeaderDivider{
    background: #FFF; height: 5px; border-bottom: 1px solid #000;
}
.proDescTxt{
    padding: 10px 0px 0px 0px; font-size: 14px;
}

.proDescTxt > ul{
    padding-left:10px ;

}

.proDescTxt > ul > li {
    padding-top: 10px;
}

.proDescHeaderTxt{
    font-weight: bold;
    padding-left: 0px;
}

.proDescTblHeaderFirstTxt{
    background: #808080;
    color: #111;
    font-weight: bold;
    font-size: 11px;
    padding: 5px 20px;
}

.proDescTblHeaderTxt{
    background: #231F20;
    color: #FFF;
    font-weight: bold;
    font-size: 11px;
    padding: 5px 11px;
}
.proDescTblHeaderFirstTd{
    padding-right: 2px;
}
.proDescTblHeaderTd{
    padding-right: 12px;
}
.proDescTblBdyFirstTxt{
    font-size: 11px;
    white-space: nowrap;
}

.proDescTblBdyTxt{

}

.eventYear {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

.eventName {
    font-weight: bold;
    display: block;
    margin-top: 10px;

}
.eventLocation {
    display: block;
    margin-bottom: 20px;

}


.proDescTbl tbody > tr{
    border-bottom: 1px solid black;
}

.proDescTblFooter div {
    font-size: 10px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
}
#proDescTblFooterFirst{
    padding-left: 15px;
}

/**
*   Carousel
**/
.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}

.tbl-black-orange{
}

.tbl-black-orange > thead > tr > th{
    background-color: #000000;
    font-family: ClanOT-Bold;
    text-align: center;
    color: #FFFFFF;
    border-bottom: solid 1px #FFFFFF;
    border-right: solid 1px #FFFFFF;
    padding: 5px;
}
.tbl-black-orange > thead > tr.fat > th{
    padding-top: 15px;
    padding-bottom: 15px;
}
.tbl-black-orange > thead > tr > th:last-child{
    border-right: none;
}
.tbl-black-orange > tbody > tr > td{
    background-color: #FFFFFF;
    font-family: ClanOT;
    text-align: center;
    color: #000000;
    border-bottom: solid 1px #000000;
}

.tbl-black-orange > tbody > tr:first-child > td{
    background-color: #FF5325;
    font-family: ClanOT;
    text-align: center;
    color: #FFFFFF;
    border-bottom: none;
}

.tbl-black-orange > tbody > tr:first-child.fat > td{
    padding-top: 7px;
    padding-bottom: 7px;
}

.tbl-black-orange > tbody > tr > td.black{
    background-color: #000000;
    color: #FFFFFF;
    vertical-align: middle;
}
.tbl-black-orange > tbody > tr > td.border-white{
    border-bottom: solid 1px #FFFFFF;
}

.ul-orange {
    margin-left: 0px; padding-left: 0px;
}
.ul-orange > li::before {
    color: #ed0000;
    content: "•";
    font-size: 1.5em;
    padding-right: 0.25em;
    position: relative;
    top: 0.1em;
}

.ul-orange > li {
    color: #444;
    list-style-type: none;
    font-family: ClanOT-Bold;
    float: left;
}

.ul-orange > li > div{
    font-family: ClanOT;
    margin-left: 1.25em;
}

.ul-colors{
    float: left;
    font-family: ClanOT-Bold;
}

.tbl-header-specification{
    font-family: ClanOT-Bold;
    margin-bottom: 3px;
}
.text-normal-specifications{
    font-family: ClanOT;
}

.text-bold-specifications{
    font-family: ClanOT-Bold !important;
}